<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>com.potkal.bendenetteyim.spring.conf.MainConfiguration</param-value>
	</context-param>
	
	<context-param>
      <param-name>contextClass</param-name>
      <param-value>
          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
  </context-param>
	
	<listener>
	  <listener-class>
	     org.springframework.web.context.ContextLoaderListener
	  </listener-class>
	</listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.potkal.bendenetteyim.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/bendenetteyim/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.potkal.bendenetteyim.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/bendenetteyim/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
  
    <!--  <welcome-file>Foo.html</welcome-file> -->
    <welcome-file>BendeNetteyim.html</welcome-file>
  </welcome-file-list>

</web-app>
